<!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">PROTECSO</h1>
              <p class="intro-text">Consultora de TI.
                <br></p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>QUIENES SOMOS</h2>
            <p style="text-align: justify;">Process &amp; Technology Solutions es una empresa especializada en 
            brindar servicios de consultoría en procesos y tecnología orientados a la generación de valor para 
            el negocio de nuestros clientes con un staff de profesionales altamente calificados. Brindamos 
            servicios de consultoría en herramientas de vanguardia como BPM, SOA, Microservices, Reglas de 
            Negocio (BRMS) y metodologías ágiles. Adicionalmente brindamos servicios de Outsourcing de TI, a 
            través del cual su empresa podrá contar con personal altamente capacitado bajo un esquema flexible.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center">
      <div class="container">
        <div class="container-fluid">
                        <div class="row-fluid">
                                                    <div class="moduletable  "><div class="moduletable-wrapper"><header><h2 class="moduleTitle "><span class="item_title_part0">Servicios</span> </h2></header><div class="mod-newsflash-adv mod-newsflash-adv__ cols-2" id="module_96">
    <div class="row-fluid">
    <article class="span0 item item_num0 item__module  featured" id="item_29">
    <div class="item_container">
      

<div class="item_content">
	<!-- Item title -->
		<h4 class="item_title item_title__">
				<a href="/index.php/es/tecnologias/transformacion-procesos">Transformación de Procesos</a>
			</h4>
		<!-- Introtext -->
	    <a href="/index.php/es/tecnologias/transformacion-procesos">
    	<div class="item_introtext">
		<div><i class="cap-icon fa fa-dashboard">&nbsp;</i> La transformación de procesos (Process Transformation) es una metodología de mejora continua de procesos que permite integrar aplicaciones y personas (externos e internos) para ejecutar un proceso, la cual nos permite garantizar la correcta ejecución de los procesos. Para esto utilizamos distintas herramientas BPM, BRMS (Reglas de Negocio) y RPA (Automatización de procesos usando robots).</div>
	</div>
        </a>
        
	
    
	<!-- Read More link -->
	</div>


<div class="clearfix"></div>    </div>
  </article>
    <article class="span0 item item_num1 item__module  featured" id="item_30">
    <div class="item_container">
      

<div class="item_content">
	<!-- Item title -->
		<h4 class="item_title item_title__">
				<a href="/index.php/es/tecnologias/inteligencia-artificial">Inteligencia Artificial</a>
			</h4>
		<!-- Introtext -->
	    <a href="/index.php/es/tecnologias/inteligencia-artificial">
    	<div class="item_introtext">
		<div><i class="cap-icon fa fa-cogs">&nbsp;</i> La inteligencia artificial está tomando cada vez más importancia, pues muy pronto estará presente en todas las industrias y empresas. Aquellas empresas que ya han adoptados soluciones de inteligencia artificial está cosechando los beneficios en la reducción de costos y mejora en la precisión de sus procesos. Nosotros brindamos soluciones cognitivas de inteligencia artificial, asi como de analisis avanzado.</div>
	</div>
        </a>
        
	
    
	<!-- Read More link -->
	</div>


<div class="clearfix"></div>    </div>
  </article>
  </div><div class="row-fluid">  <article class="span0 item item_num2 item__module  featured" id="item_31">
    <div class="item_container">
      

<div class="item_content">
	<!-- Item title -->
		<h4 class="item_title item_title__">
				<a href="/index.php/es/tecnologias/desarrollo-agil">Herramientas y Metodologías Ágiles</a>
			</h4>
		<!-- Introtext -->
	    <a href="/index.php/es/tecnologias/desarrollo-agil">
    	<div class="item_introtext">
		<div><i class="cap-icon fa fa-code-fork">&nbsp;</i> Los cambios constantes en las industrias y la necesidad de adaptarse de forma rápida a esos cambios, ha causado que las metodologías tradicionales de desarrollo de sistemas hayan quedado en cierta forma obsoletas. Lo que se necesita son herramientas y metodologías ágiles como Scrum, TDD y MDA que permitan reducir el time to market de las organizaciones.</div>
	</div>
        </a>
        
	
    
	<!-- Read More link -->
	</div>


<div class="clearfix"></div>    </div>
  </article>
    <article class="span0 item item_num3 item__module  featured" id="item_32">
    <div class="item_container">
      

<div class="item_content">
	<!-- Item title -->
		<h4 class="item_title item_title__">
				<a href="/index.php/es/tecnologias/cloud-software">Cloud Software</a>
			</h4>
		<!-- Introtext -->
	    <a href="/index.php/es/tecnologias/cloud-software">
    	<div class="item_introtext">
		<div><i class="cap-icon fa fa-cloud">&nbsp;</i> Muchas organizaciones dentro de su crecimiento se han visto en la necesidad de implementar soluciones software, si bien estas soluciones les han permitido acelerar su crecimiento, también han significado un gran porcentaje de su presupuesto y de su esfuerzo. Incluso muchas veces se han visto en apuros cuando han tenido que atender a una cantidad cada vez mayor de audencia. Las soluciones de software cloud son la solución.</div>
	</div>
        </a>
        
	
    
	<!-- Read More link -->
	</div>


<div class="clearfix"></div>    </div>
  </article>
  </div><div class="row-fluid">  <article class="span0 item item_num4 item__module  featured lastItem" id="item_17">
    <div class="item_container">
      

<div class="item_content">
	<!-- Item title -->
		<h4 class="item_title item_title__">
				<a href="/index.php/es/servicios/business-inteligence-business-analytics">Big Data</a>
			</h4>
		<!-- Introtext -->
	    <a href="/index.php/es/servicios/business-inteligence-business-analytics">
    	<div class="item_introtext">
		<div><i class="cap-icon fa fa-bar-chart">&nbsp;</i> Somos capaces de comprender en detalle sus necesidades de información y plantear soluciones partiendo de arquitecturas de información que soporten su negocio utilizando soluciones de inteligencia de negocios como Big Data y Data warehouse.</div>
	</div>
        </a>
        
	
    
	<!-- Read More link -->
	</div>


<div class="clearfix"></div>    </div>
  </article>
    </div> 
  <div class="clearfix"></div>

  </div>
</div></div>
                                                </div>
                    </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="moduletable  "><div class="moduletable-wrapper"><header><h3 class="moduleTitle "><span class="item_title_part0">Contáctanos</span> </h3></header><div class="mod_as_contact_form">
<div id="contact_98">
	<form class="mod_as_contact_form" id="contact-form_98" novalidate="novalidate">
		<input type="hidden" id="module_id" name="module_id" value="98">
		<div class="mod_as_contact_form_message" id="message_98">
			<span class="s">Gracias! Tu mensaje ha sido enviado.</span>
			<span class="e">Hubo un error, por favor vuelva a probar luego.</span>
			<span class="c">Por favor entre un respuesta correct del Captcha.</span>
		</div>
		<fieldset>
			<div class="row-fluid">
				<div class="control-group control-group-input span4"><div class="controls"><input type="text" placeholder="Nombre" name="name" id="name_0" class="mod_as_contact_form_text hasTooltip" required="" title="Nombre" aria-required="true"></div>
					</div><div class="control-group control-group-input span4"><div class="controls"><input type="email" placeholder="Email" name="email" id="email_1" class="mod_as_contact_form_email hasTooltip" required="" title="Email" aria-required="true"></div>
					</div><div class="control-group control-group-input span4"><div class="controls"><input type="tel" placeholder="Telefono" name="phone" id="phone_2" class="mod_as_contact_form_tel hasTooltip" required="" title="Telefono" aria-required="true"></div>
					</div><div class="control-group control-group-input span12"><div class="controls"><input type="text" placeholder="Asunto" name="subject" id="subject_3" class="mod_as_contact_form_text hasTooltip" required="" title="Asunto" aria-required="true"></div>
					</div><div class="control-group control-group-input span12"><div class="controls"><textarea name="message" placeholder="Mensaje" id="message_4" class="mod_as_contact_form_textarea hasTooltip" title="Mensaje" data-autosize-on="true" style="overflow: hidden; word-wrap: break-word; height: 176px;"></textarea></div>
					</div>				<!-- Submit Button -->
				<div class="control-group control-group-button span12">
					<div class="controls">
											<button type="reset" id="clear_98" class="btn btn-primary mod_as_contact_form_btn">Limpiar</button>
											<button type="submit" class="btn btn-primary mod_as_contact_form_btn">Enviar</button>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
</div></div></div>
          </div>
        </div>
      </div>
    </section>